* {
  /*remove default padding added by borwser*/
  margin: 0;
  padding: 0;
}
#threeCanvas {
  /*should not need to do this*/
  width: 100%  !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  display: block;
}
#debugWrapper {
  font-size: 15px;
  pointer-events: none;
  position: absolute; 
  left: 10px;
  top: 10px;
  width:300px  ; 
  height:100px ; 
  background-color: transparent;
}